@import 'node_modules/bootstrap/scss/bootstrap';
@import '../bower_components/bootstrap-rtl/dist/css/bootstrap-rtl.min.css';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/iransans-fontface/css/iransans/sass/iransans-fontface';

body {
    background: #F5F5F5;
}

